$maincolor: #ffb142;
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;
}
/***********start my framework*******************/
.container{
    width: 1200px;
    margin: auto;
    position: relative;
}
.hidden{
    display: none;
}
.table{
    height: 100%;
    display: table;
}
.table-row{
    display: table-cell;
    vertical-align: middle;
}
.text-center{
    text-align: center;
}
.upper{
    text-transform: uppercase;
    font-weight: bolder;
}
.maincolor{
    color:$maincolor;
}
.mainback{
    background-color:$maincolor ;
}
.overley{
    background-color: rgba(49,55,61,.9);
    width: 100%;
    height: 100%;
}
%cover{
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}
%transition{
     -webkit-transition: all .9s ease-in-out;
    -moz-transition: all .9s ease-in-out;
    -o-transition: all .9s ease-in-out;
    transition: all .9s ease-in-out;
}
/***********start my header*******************/
.header{
    background-image: url(../images/header_stock.png);
    @extend %cover;
    color: white;
    text-transform: capitalize;
    
    .navbar {
        overflow: hidden;
        padding: 20px 0; 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        
        .logo{
            font-size: 25px;
        }
        
         .links{
            float: right;
             i{
                margin-left: 5px;
            }
         } 
      }
    .intro{
        h1{
            margin: 0;
            font-size: 50px;
            font-weight: 800;   
        }
        p{
            margin: 5px 0 40px;
            line-height: 1.8;
            font-size: 20px;
            color:#e2e2e2;
         }
       }
    .btn {
        button{
            background: transparent;
            width: 180px;
            padding: 10px 20px;
            font-family: 'Open Sans', sans-serif;
            margin: 0 8px;
            border: 1px solid #909090;
            border-radius: 10px;
            font-size: 12px;
            font-weight: normal;
            color: white;
            @extend %transition;
            
             &:hover{
                background-color: $maincolor;
                border: 1px solid $maincolor;
            }
        }
     }
    .arrow{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            text-align: center;
        
            i{
                border: 2px solid #7b7b7b;
                height: 45px;
                width: 42px;
                line-height: 45px;
                margin-bottom: 60px;
                border-radius: 50%;
                cursor: pointer;
            }
        }
    }

/*********************start featuers********************/
.featuers{
    padding: 80px 0;
    overflow: hidden;
    .box{
        float: left;
        width: 22%;
        text-align: center;
        margin-right: 4%;
        
        &:last-child{
            margin-right: 0
        }
        
        i{
            width: 120px;
            height: 120px;
            line-height: 120px;
            border: 1px solid #ccc;
            border-radius: 50%;
            color: $maincolor;
            @extend %transition;
            &:hover{
                background-color: $maincolor; 
                border:1px solid $maincolor; 
                color: #fff;
            }
        }

        h3{
            color:#505050;
            font-weight: normal;   
        }
        
        p{
            line-height: 1.5;
            color: #888;
        }
    }
}
 
/******************start subscribe******************/
.subscribe{
    background-image: url(../images/subscribe.png);
  @extend %cover;
    form{
        width: 700px;
        margin: auto;
        padding: 100px 0;
        text-align: center;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        input{
            padding: 10px;
            width: 320px;
            font-family: 'Open Sans', sans-serif;
            text-transform: capitalize;
            border: none;
            border-radius: 10px;
            margin-right: 20px;
        }
        button{
            font-family: 'Open Sans', sans-serif;
            background-color: $maincolor;
            width: 200px;
            padding: 10px;
            border: none;
            border-radius: 10px;
            color: white;
        }
    }
}
/***************start ourwork*********************/
.work{
    padding: 50px; 
     h1{
        font-size: 35px;
     }
    h1 ~ p{
        line-height: 2;
        margin: 10px 0 40px;
        font-size: 18px;
        color: #666;
    }
     .show-more{
        font-family: 'Open Sans', sans-serif;
        background: transparent;
        border: 1px solid #CCC;
        width: 180px;
        padding: 10px;
        border-radius: 10px;
        margin-top: 20px;
        color: #555;
        @extend %transition;
         
         &:hover{
            background-color: $maincolor;
            border: 1px solid $maincolor;
            color: white;
        }
    }
     .items-box{
        overflow: hidden;
         .item{
            float: left;
            width: 31%;
            height: 398px;
            overflow: hidden;
            margin-right: 2%;
            margin-bottom: 2%;
            border-radius: 15px;
            position: relative;
            @extend %transition;
             .over{
                position: absolute;
                top: 0;
                left: 0;
                width:100%;
                height: 100%;
                background: $maincolor;
                color: white;
                display: none;
                 h2{
                    margin-top: 80px;
                    font-weight: bold;
                    font-size: 25px;
                }
                 p{
                    padding: 15px;
                    font-size: 14px;
                    line-height: 2;
                }
                  button{
                    font-family: 'Open Sans', sans-serif;
                    background: transparent;
                    border: 1px solid #fff;
                    width: 150px;
                    padding: 10px;
                    border-radius: 10px;
                    margin-top: 20px;
                    color: #fff;
                    @extend %transition;
                      &:hover{
                        background-color: white;
                        color: $maincolor;
                    }
                }
            }
             &:hover .over{
                display: block;
            }
        }
    }
}

/********************start test*******************/
.test{
    background-image: url(../images/testimonials.png);
    @extend %cover;
    .client{
        padding: 50px 0;
        color: #fff;
        img{
            border-radius: 50%;
        }
        p{
            line-height: 2;
            margin: 20px 0;
            font-style: italic;
        }
    }
    .fa-chevron-left{
        position: absolute;
        top: 60%;
        color: #999;
        cursor: pointer;
         left: 0;
    }
    .fa-chevron-right{
        position: absolute;
        top: 60%;
        color: #999;
        cursor: pointer;
         right: 0;
    }
    .fa-chevron-left:hover{
        color: $maincolor;
    }
    .fa-chevron-right:hover{
        color: $maincolor;
  }
}
/****************start team**********************/
.team{
    padding: 50px 0;
     h1{
        font-size: 35px;
    }
    h1 ~ p{
        line-height: 2;
        margin: 10px 0 40px;
        font-size: 18px;
        color: #666;
    }
    .our-team {
        overflow: hidden;
        .mumber{
            float: left;
            width: 24%;
            margin-left: 1%;
            color: #888;
            &:hover{
                color: #555;
            }
            &:hover .fa-facebook{
                background: #3b5998;
            }
            &:hover .fa-twitter{
                background: #1da1f2;
            }
            &:hover .fa-google-plus{
                background: $maincolor;
            }
            &:hover img{
                filter: none;
                -webkt-filter:none;
            }
            img{
                width: 265px;
                height: 290px;
                filter: gray;
                filter: grayscale(1);
               @extend %transition;
            }
            .icons{
                i{
                font-size: 20px;
                height: 30px;
                width: 30px;
                line-height: 30px;
                color: #fff;
                border-radius: 50%;
                background: #888;
               @extend %transition;
                }
            }      
        }
    }
}


 
/***********************start contact*****************/
.contact{
    background-image: url(../images/city.png);
   @extend %cover;
     .overley{
        padding: 50px 0;
        color: #fff;
    }
     h1{
       font-size: 35px; 
    }
    p{
        margin: 30px 0 50px;
    }
    form{
        width: 700px;
        margin: auto;
        overflow: hidden;
        input{
            background-color: transparent;
            font-family: 'Open Sans', sans-serif;
            text-transform: capitalize;
            width: 48%;
            border-radius: 10px;
            border: 1px solid #999;
            padding: 0 10px;
            height: 40px;
            line-height: 40px;
            &[type="text"]{
                float: left;
            }
            &[type="email"]{
                float: right;
            }
        }
        textarea{
            background-color: transparent;
            font-family: 'Open Sans', sans-serif;
            text-transform: capitalize;
            width: 100%;
            margin-top: 20px;
            border-radius: 10px;
            padding: 10px;
            border: 1px solid #999;
            height: 150px;
        }
        .imfo{
            overflow: hidden;
             button{
                float: left;
                font-family: 'Open Sans', sans-serif;
                margin-top: 20px;
                background-color: $maincolor;
                width: 200px;
                border-radius: 10px;
                padding: 10px;
                color: white;
                border: none;
                font-weight: normal;
            }
        }
        .icons{
            float: right;
            margin-top: 30px;
            i{
                width: 40px;
                height: 40px;
                line-height: 40px;
                border-radius: 50%;
            }
            .fa-facebook{
                background: #3b5998;
            }
            .fa-twitter{
                background: #1da1f2;
            }
            .fa-google-plus{
                background: $maincolor;
            }
        }
    }
}
/*****************start footer*******************/
.footer{
    background-color: #3b434c;
    overflow: hidden;
    padding: 30px 0;
    color: #fff;
    font-size: 10px;
    .cop{
        float: left;
        font-weight: normal;
    }
    .cpoy{
        float: right;
        font-weight: normal;
    }
}
